@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

:root{
    --colorRed: #cf3c3f;
    --colorLightRed: #d15d5f;
    --colorBlue: #237cf1;
    --colorLightBlue: #4b94f3;
    --colorBlack: #000;
    --colorDeepGray: #3a3a3a;
    --colorMediumGray: #a7a7a7;
    --colorLightGray: #ececec;
    --colorGray:#c4c4c4;
    --colorWhite: #fff;
    --colorWhiteSecondary: #f9f9f9;
}

.section-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
}

.section-login .logo{
    width: 130px;
    margin-bottom: 80px;
}

.section-title{
    color: var(--colorDeepGray);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

.login-user{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.login-user span{
    position: absolute;
    color: var(--colorMediumGray);
    font-size: 0.8em;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: text;
    transition: all 0.3s;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid transparent;
    background-color: var(--colorLightGray);
    border-radius: 5px;
    color: var(--colorDeepGray);
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    margin-bottom: 18px;
}

.input:focus {
    background-color: var(--colorWhiteSecondary);
    border: 2px solid var(--colorDeepGray);
}

.login-user .span-active{
    font-size: 0.7em;
    margin: 8px 10px;
}

.login-icons{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.login-icons img{
    width: 20px;
}

.btn-social{
    width: 33.33%;
    border: none;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.login-icons .btn-social:nth-child(3){
    background-color: var(--colorBlack);
}

.login-icons .btn-social:nth-child(2){
    background-color: var(--colorLightGray);
}

.login-icons .btn-social:nth-child(1){
    background-color: var(--colorLightBlue);
}



.wallpaper {
    width: 100%;
    background-image: url('assets/img/wallpaper.jpg');
}


